.profile__edit-button {
    box-sizing: border-box;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 0;
    background-image: url('../../../images/add-button-pic.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    margin: 0;
    padding: 0;
    margin-left: 18px;
    margin-top: 1px;
    cursor: pointer;
}

@media screen and (max-width:320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }

    .profile__add-button {
        width: 282px;
        height: 50px;
        padding: 0;
        margin-top: 30px;
    }
}