.element__delete {
    position: absolute;
    background-image: url('../../../images/trash.svg');
    width: 18px;
    height: 19.3px;
    cursor: pointer;
    border: none;
    background-color: transparent;    
    top: 20px;
    right: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.element__delete:hover {    
    opacity:0.6;
}