.profile {
    box-sizing: border-box;
    max-width: 880px;
    margin: 40px auto 0 auto;
    min-height: 120px;
    padding: 0;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1279px) {
    .profile {
        width: calc(282px + 598 * ((100% - 320px)/960));
    }
}

@media screen and (max-width:879px) {
    .profile {
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }
}

@media screen and (max-width:320px) {
    .profile {
        max-width: 282px;
        margin: 38.25px auto 0 auto;

    }
}