.header__logo {
    box-sizing: border-box;
    width: 142px;
    height: 33px;
    margin-bottom: 0 0 41px 0;
}

@media screen and (max-width:1279px) {
    .header__logo {
        width: calc(103.74px + 38 * ((100% - 320px)/560));
        height: calc(24.4px + 8 * ((100% - 320px)/560));
        min-width: 103.74px;
        min-height: 24.4px;
        margin-bottom: calc(31.6px + 9.4 * ((100% - 320px)/560));
        margin-left: calc(27px - 27 * ((100% - 320px)/560));
    }
}

@media screen and (max-width:320px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
        margin-bottom: 31.6px;
    }
}