.element__heart {
    background-image: url('../../../images/heart-regular.svg');
    width: 22px;
    height: 19px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
    margin-right: 20px;
    caret-color: transparent;
}

.element__heart:hover {
    opacity: 0.5;
}

.element__heart:active {
    background-image: url('../../../images/heart-active.svg');
    opacity: 1;
}