.element__heart {
    display: inline;
    background-image: url('../../../images/heart-regular.png');
    width: 22px;
    height: 19px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    float: right;
    margin-right: 30px;
    margin-top: 4px;
}

.element__heart:hover {
    opacity: 0.5;
}

.element__heart:active {
    background-image: url('../../../images/heart-active.png');
    opacity: 1;
}