.view__container {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    position: relative;
}


@media screen and (max-width:320px) {
    .view__container {
        width: 240px;
        max-width: 240px;

    }
}