.profile__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:879px) {
    .profile__top {
        justify-content: center;
    }
}