.elements {
    padding: 0;
    box-sizing: border-box;
    width: 880px;
    height: 744px;
    margin: 51px auto 0 auto;
    column-gap: 17px;
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width:1279px) {
    .elements {
        width: calc(282px + 596 * ((100% - 320px) / 960));
        margin-top: 36px;
        justify-content: space-evenly;
        height: 100%;
    }
}

@media screen and (max-width:879px) {
    .elements {
        justify-content: space-around;
    }
}

@media screen and (max-width:320px) {
    .elements {
        width: 282px;
        margin-top: 38px;
    }
}