.popup__submit {
    display: block;
    width: 358px;
    height: 50px;
    padding: 0;
    margin: 48px auto 0 auto;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width:879px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px auto 0 auto;
    }
}