.popup__cancel {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url('../../../images/cancel-regular.svg');
    position: relative;
    top: -368px;
    right: -440px;
    cursor: pointer;
    z-index: 3;
}

.popup__cancel:hover {
    opacity: 0.6;
}

@media screen and (max-width:879px) {
    .popup__cancel {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -382px;
        right: -263px;
    }
}