.footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    width: 880px;
    margin: 66px auto 36px auto;
    box-sizing: border-box;
}

@media screen and (max-width:1279px) {
    .footer {
        width: calc(282px + 598 * ((100vw - 320px)/960));
    }
}

@media screen and (max-width:320px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        width: 282px;
        margin: 52px auto 36px auto;
    }
}