.view__image {
    display: block;
    width: auto;
    max-width: 75vw;
    max-height: 75vh;
}

@media screen and (max-width:320px) {
    .view__image {
        width: 240px;
        height: 299px;
        max-width: 240px;
        max-height: 299px;
    }
}