@keyframes alert {
    0% {
        color: #000000;
    }

    17% {
        color: #ff0000;
    }

    34% {
        color: #000000;
    }

    51% {
        color: #ff0000;
    }

    68% {
        color: #000000;
    }

    85% {
        color: #ff0000;
    }

    100% {
        color: #000000;
    }
}

.new-item__input {
    display: block;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    margin: 29px auto 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    padding: 0 0 12px 0;
    color: #000000;
}

.new-item__input:focus {
    outline: none;
}

@media screen and (max-width:879px) {
    .new-item__input {
        width: 238px;
    }
}