.edit__validation-message {
    padding: 0;
    margin: 5px auto 0 auto;
    width: 358px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    outline: 1px solid red;
    visibility: hidden;
}


@media screen and (max-width:879px) {
    .edit__validation-message {
        width: 238px;
    }
}