.edit__fieldset {
    border: none;
    margin: 30px 0 0 0;
    padding: 0;
    outline: 1px solid red;
}

@media screen and (max-width:879px) {
    .edit__fieldset {
        margin: 47px 0 0 0;
    }
}